<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdcplus.xdcweb.biz.mapper.VendorQualifyReviewMapper">

    <resultMap type="com.xdcplus.xdcweb.biz.common.pojo.entity.VendorQualifyReview" id="VendorQualifyReviewMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="requestId" column="request_id" jdbcType="INTEGER"/>
        <result property="vendorId" column="vendor_id" jdbcType="INTEGER"/>
        <result property="scoringFormula" column="scoring_formula" jdbcType="VARCHAR"/>
        <result property="responsiblePerson" column="responsible_person" jdbcType="VARCHAR"/>
        <result property="vendorDesc" column="vendor_desc" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="result" column="result" jdbcType="VARCHAR"/>
        <result property="createdUser" column="created_user" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="INTEGER"/>
        <result property="updatedUser" column="updated_user" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <!--通过实体作为筛选条件查询-->
    <select id="queryVendorQualifyReview" resultMap="VendorQualifyReviewMap">
        select
        id, request_id, vendor_id, scoring_formula, responsible_person, vendor_desc, name, result, created_user, created_time, updated_user, updated_time,
        description, version, deleted
        from scm_vendor_qualify_review
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="requestId != null">
                and request_id = #{requestId}
            </if>
            <if test="vendorId != null">
                and vendor_id = #{vendorId}
            </if>
            <if test="scoringFormula != null and scoringFormula != ''">
                and scoring_formula = #{scoringFormula}
            </if>
            <if test="responsiblePerson != null and responsiblePerson != ''">
                and responsible_person = #{responsiblePerson}
            </if>
            <if test="vendorDesc != null and vendorDesc != ''">
                and vendor_desc = #{vendorDesc}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="result != null and result != ''">
                and result = #{result}
            </if>
            <if test="createdUser != null and createdUser != ''">
                and created_user = #{createdUser}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime}
            </if>
            <if test="updatedUser != null and updatedUser != ''">
                and updated_user = #{updatedUser}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="version != null">
                and version = #{version}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
        </where>
    </select>

</mapper>

